*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:
    radial-gradient(circle at top left, rgba(79,157,255,.15), transparent 35%),
    radial-gradient(circle at bottom right, rgba(124,92,255,.18), transparent 35%),
    #070B16;

    color: white;

    overflow:hidden;
}

a{
    color:inherit;
    text-decoration:none;
}

button{
    cursor:pointer;
}