.signup-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #0f172a,
        #111827
    );

}

.signup-card{

    width:420px;

    padding:40px;

    border-radius:25px;

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.10);

    color:white;

    text-align:center;

}

.signup-card h1{

    font-size:40px;

    margin-bottom:10px;

}

.signup-card p{

    color:#bdbdbd;

    margin-bottom:20px;

}

.signup-card form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.signup-card input{

    padding:14px;

    border:none;

    border-radius:12px;

    outline:none;

    background:rgba(255,255,255,.08);

    color:white;

}

.signup-card input::placeholder{

    color:#999;

}

.signup-card button{

    padding:14px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    background:#8b5cf6;

    color:white;

    transition:.3s;

}

.signup-card button:hover{

    transform:translateY(-2px);

}

.google-btn{

    margin-top:15px;

    width:100%;

    background:white;

    color:#111827;

}

.bottom-text{

    margin-top:20px;

}

.bottom-text a{

    color:#8b5cf6;

    text-decoration:none;

}

@media(max-width:500px){

.signup-card{

    width:92%;

    padding:30px 20px;

}

.signup-card h1{

    font-size:32px;

}

}